# データ元

**花粉ライブラリ** <BR>
4. 「はなこさん」による過去データのダウンロード<BR> 
http://kafun.taiki.go.jp/library.html#4

zipのURL例<BR>
http://kafun.taiki.go.jp/DownLoadData/2008_kansai.zip

# zipをダウンロード

In [42]:
import requests
year=2008
region = "kansai"
resp = requests.get("http://kafun.taiki.go.jp/DownLoadData/2008_kansai.zip")
resp.raise_for_status()

# zip 展開

In [14]:
from io import BytesIO
from zipfile import ZipFile
zipfile = ZipFile(BytesIO(resp.content))

In [15]:
ls ../../../data

01_jinkou.csv            ___01_tenki.csv  2008_kansai/
01_jinkou_todohuken.csv  01_tenki.csv     a/

In [ ]:
zipfile.extractall("../../../data")

In [ ]:
# あとは適当に落とす

In [20]:
import time
for region in ["kansai"]:
    for year in range(2008,2018+1):
        url = "http://kafun.taiki.go.jp/DownLoadData/{}_{}.zip".format(year,region)
        resp = requests.get(url)
        resp.raise_for_status()
        zipfile = ZipFile(BytesIO(resp.content))
        zipfile.extractall("../../../data")
        print("done:", url)
        time.sleep(1)

done: http://kafun.taiki.go.jp/DownLoadData/2008_kansai.zip
done: http://kafun.taiki.go.jp/DownLoadData/2009_kansai.zip
done: http://kafun.taiki.go.jp/DownLoadData/2010_kansai.zip
done: http://kafun.taiki.go.jp/DownLoadData/2011_kansai.zip
done: http://kafun.taiki.go.jp/DownLoadData/2012_kansai.zip
done: http://kafun.taiki.go.jp/DownLoadData/2013_kansai.zip
done: http://kafun.taiki.go.jp/DownLoadData/2014_kansai.zip
done: http://kafun.taiki.go.jp/DownLoadData/2015_kansai.zip
done: http://kafun.taiki.go.jp/DownLoadData/2016_kansai.zip
done: http://kafun.taiki.go.jp/DownLoadData/2017_kansai.zip
done: http://kafun.taiki.go.jp/DownLoadData/2018_kansai.zip

---
できたかを確認

In [21]:
ls ../../../data

 01_jinkou.csv             2010_kansai/   2016_kansai/
 01_jinkou_todohuken.csv   2011_kansai/   2017_kansai/
 ___01_tenki.csv           2012_kansai/  'AMeDAS2018(è╓É╝).xlsx'
 01_tenki.csv              2013_kansai/  'ë╘ò▓âfü[â^2018(è╓É╝).xlsx'
 2008_kansai/              2014_kansai/
 2009_kansai/              2015_kansai/

<BR>
2018が無い？<BR>
    <BR>
2018だけおかしいので適当にフォルダを作ってあげる。2008年の担当者さん、頼むよ〜

In [37]:
mkdir ../../../data/2018_kansai

mkdir: cannot create directory ‘../../../data/2018_kansai’: File exists

In [38]:
mv ../../../data/*.xlsx ../../../data/2018_kansai

In [39]:
ls ../../../data/2018_kansai/

'AMeDAS2018(è╓É╝).xlsx'  'ë╘ò▓âfü[â^2018(è╓É╝).xlsx'

In [44]:
ls ../../../data

01_jinkou.csv            01_tenki.csv  2010_kansai/  2013_kansai/  2016_kansai/
01_jinkou_todohuken.csv  2008_kansai/  2011_kansai/  2014_kansai/  2017_kansai/
___01_tenki.csv          2009_kansai/  2012_kansai/  2015_kansai/  2018_kansai/

In [59]:
pd.read_excel("../../../data/2008_kansai/AMeDAS2008(è╓É╝).xls", sheet_name="降水量(mm)")

,月,日,時,彦根市役所,滋賀県琵琶湖・環境科学研究センター,滋賀県高島県事務所,滋賀県森林センター,京都府立医科大学,京都府中丹東保健所,京都市右京区役所京北合同庁舎,...,兵庫県立健康環境科学研究センター,北山緑化植物園（西宮市都市整備公社）,兵庫県篠山庁舎,兵庫みどり公社西播磨事務所,奈良県保健環境研究センター,奈良県吉野保健所,奈良県高田総合庁舎,和歌山地方気象台,和歌山県西牟婁振興局庁舎,和歌山県農林水産総合技術センター林業試験場中辺路試験地
0,2,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1,3,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2,1,4,0,0,0,0,0,3,1,...,0,0,0,0,0,0,0,0,0,0
4,2,1,5,0,0,0,0,0,3,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3619,6,30,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3620,6,30,21,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3621,6,30,22,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3622,6,30,23,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3623,6,30,24,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
pd.read_excel("../../../data/2008_kansai/AMeDAS2008(è╓É╝).xls", sheet_name="気温(℃)")

,月,日,時,彦根市役所,滋賀県琵琶湖・環境科学研究センター,滋賀県高島県事務所,滋賀県森林センター,京都府立医科大学,京都府中丹東保健所,京都市右京区役所京北合同庁舎,...,兵庫県立健康環境科学研究センター,北山緑化植物園（西宮市都市整備公社）,兵庫県篠山庁舎,兵庫みどり公社西播磨事務所,奈良県保健環境研究センター,奈良県吉野保健所,奈良県高田総合庁舎,和歌山地方気象台,和歌山県西牟婁振興局庁舎,和歌山県農林水産総合技術センター林業試験場中辺路試験地
0,2,1,1,2.4,1.4,0.8,1.4,2.2,1.4,-0.1,...,3.0,3.0,3.0,-0.3,0.7,0.7,0.7,4.4,4.8,2.9
1,2,1,2,3.5,0.9,0.6,0.9,2.6,0.7,-0.1,...,2.6,2.6,2.6,0.1,1.1,0.5,1.1,4.3,4.5,2.0
2,2,1,3,3.5,1.6,0.5,1.6,2.9,0.5,-0.1,...,3.0,3.0,3.0,-0.6,1.4,0.3,1.4,4.4,4.6,0.9
3,2,1,4,3.0,1.6,0.3,1.6,2.6,0.6,-0.2,...,3.0,3.0,3.0,-0.5,1.3,0,1.3,4.0,4.7,2.0
4,2,1,5,2.7,2.1,1.1,2.1,2.5,3.1,-0.1,...,2.9,2.9,2.9,-0.8,0.6,-0.2,0.6,4.3,4.4,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3619,6,30,20,19.9,21.9,20.0,21.9,20.8,20.2,17.7,...,22.8,22.8,22.8,19.6,20.6,18.4,20.6,22.8,24.4,22.4
3620,6,30,21,20.1,21,19.2,21,20.9,19.9,17.5,...,22.8,22.8,22.8,18.9,20.3,18.3,20.3,22.5,23.6,21.4
3621,6,30,22,20.1,20.9,18.4,20.9,20.4,19.4,17.5,...,22.5,22.5,22.5,18.9,20.0,18.1,20.0,22.1,23.3,20.9
3622,6,30,23,19.7,20.7,18.0,20.7,20.0,19.1,17.4,...,22.0,22.0,22.0,16.8,20.0,18,20.0,21.5,23.1,21.5
3623,6,30,24,19.5,20.1,17.9,20.1,19.6,18.9,17.4,...,22.0,22.0,22.0,16.0,19.6,18.1,19.6,21.1,22.7,20.7

In [60]:
pd.read_excel("../../../data/2008_kansai/ë╘ò▓âfü[â^2008(è╓É╝).xls")

,花粉自動測定器による観測データ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,年,月,日,時,彦根,大津,今津,野洲,京都,舞鶴,...,篠山,山崎,奈良,吉野,大和高田,和歌山,田辺,中辺路,NaN,NaN
1,2008,2,1,1,0,4,0,0,0,0,...,0,4,4,0,8,0,NaN,0,NaN,-9998:降雪による欠測
2,2008,2,1,2,0,0,0,0,0,-9998,...,0,0,0,0,0,8,NaN,0,NaN,-9997:黄砂による欠測
3,2008,2,1,3,0,0,-9998,0,0,-9998,...,0,0,0,0,4,0,NaN,0,NaN,-9996:その他の欠測(前後の時間や周辺観測値と比較して不自然なデータ)
4,2008,2,1,4,0,0,4,0,0,-9998,...,0,0,0,0,0,8,NaN,0,NaN,空白:未観測または通信障害による欠測
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2900,2008,5,31,20,4,0,4,0,4,12,...,12,0,4,4,0,0,12,0,NaN,NaN
2901,2008,5,31,21,4,4,4,0,8,0,...,0,4,4,12,0,4,0,0,NaN,NaN
2902,2008,5,31,22,4,0,0,0,4,0,...,4,4,4,8,16,4,4,0,NaN,NaN
2903,2008,5,31,23,8,0,4,0,0,4,...,4,4,0,0,0,4,0,0,NaN,NaN
2904,2008,5,31,24,4,0,8,0,0,0,...,0,0,4,8,0,0,4,8,NaN,NaN

わかりません・・・<br>
エクセルなどで、 xls を見ましょう